[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests-mock = "*"
pytest = "*"
requests = "*"
pyyaml = "*"
jsonschema = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.9"
